
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title></title>
</head>
<body>
    <nav class="navbar navbar-light bg-light">
        <a href="{% url "todo_list" %}">Todo List</a>
        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </nav>

    {% block content %}

    {% endblock content %}

    <footer>
        <div class="container-fluid padding">
            <div class="row text-center">
                <div class="col">
                    <hr class="light">
                    <h5>Something</h5>
                    <hr class="light">
                    <p>555-555-5555</p>
                    <p>email@blah.com</p>
                    <p>100 Blah Street</p>
                    <p>City, State, 00000</p>
                </div>
                <div class="col">
                    <hr class="light">
                    <h5>Contact</h5>
                    <hr class="light">
                    <p><a href="#"><img src="../../../static/img/Github.png" class="icon_img"></a></p>
                    <p><a href="#"><img src="../../../static/img/Linkedin.png" class="icon_img"></a></p>
                    <p><a href="#"><img src="../../../static/img/Google plus.png" class="icon_img"></a></p>
                </div>
                <div class="col-12">
                    <hr class="light-100">
                    <h5>&copy; company.com</h5>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
