<h1>Todo List Items</h1>

<table border="1">
<thead>
    <tr>
    <th>Item</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </tr>
</thead>
<tbody>
    {% for todo in object_list %}
    <tr>
    <td>{{ todo.name }}</td>
    <td>{{ todo.pages }}</td>
    <td><a href="{% url "todo_view" todo.id %}">view</a></td>
    <td><a href="{% url "todo_edit" todo.id %}">edit</a></td>
    <td><a href="{% url "todo_delete" todo.id %}">delete</a></td>
    </tr>
    {% endfor %}
</tbody>
</table>

<a href="{% url "todo_new" %}">New</a>
