{% extends 'todos/base.html' %}

{% block content %}
<h1>Todo List Items</h1>
<div class="container">
  <div class="row">
    <div class="col">Item</div>
    <div class="col">View</div>
    <div class="col">Edit</div>
    <div class="col">Delete</div>
  </div>
</div>

    {% for todo in object_list %}

    <div class="container">
      <div class="row">
        <div class="col">{{ todo.item }}</div>
        <div class="col"><a href="{% url "todo_view" todo.id %}">view</a></div>
        <div class="col"><a href="{% url "todo_edit" todo.id %}">edit</a></div>
        <div class="col"><a href="{% url "todo_delete" todo.id %}">delete</a></div>
      </div>
    </div>
    {% endfor %}

<a href="{% url "todo_new" %}">New</a>
{% endblock content %}
